.cards {
  font-family: "Inter", Arial, sans-serif;
  padding: 40px 0 0;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.cards__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 25px 15px 31px 21px;
  border-radius: 0 0 10px 10px;
}

.cards__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards__favorite {
  background: no-repeat transparent url(../images/favorite.svg);
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
}

.cards__favorite:hover {
  opacity: 0.5;
}

.cards__favorite_active {
  background: no-repeat transparent url(../images/favorite-active.svg);
}

.cards__delete-button {
  background: no-repeat transparent url(../images/trash.svg);
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.cards__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 637px) {
  .cards {
    padding: 36px 20px 0;
  }

  .cards__list {
    padding: 0;
  }
}
