.form__input {
  color: #000;
  font-family: "Inter" Arial, sans-serif;
  padding: 14px 0;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input-error {
  color: #f00;
  font-family: "Inter" Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.form__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.form__error_visible {
  display: flex;
  visibility: visible;
  opacity: 1;
}
